##### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

##### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(l)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

##### Q3. Create a Pandas DataFrame that contains the following data:   Then, print the DataFrame.

In [9]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25,30,27],
    'Gender': ['Female','Male','Female']
}
df = pd.DataFrame(data)
df.style.hide(axis="index")

##### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional labeled data structure that represents a table-like data object with rows and columns. It is similar to a spreadsheet or a SQL table, where each column can contain data of a different type (e.g., integers, floats, strings) and is labeled with a column name.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold data of any type. It is similar to a column in a DataFrame or a single column of data in a spreadsheet. Each element in a Series has a unique label called an index.

Here's an example:

```python
import pandas as pd

# Example DataFrame
data = {'Name': ['John', 'Jane', 'Jim'],
        'Age': [25, 30, 35],
        'Occupation': ['Engineer', 'Doctor', 'Teacher']}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Example Series
name_series = df['Name']
print("Series:")
print(name_series)
```

##### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

There are several common functions in Pandas that can be used to manipulate data in a DataFrame. Some of these functions include:

1. `head()` and `tail()`: These functions allow you to view the first few rows (`head()`) or last few rows (`tail()`) of the DataFrame.

2. `info()`: This function provides a summary of the DataFrame, including the number of non-null values, data types, and memory usage. It helps in understanding the structure and composition of the DataFrame.

3. `describe()`: This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It provides insights into the distribution and basic statistical properties of the data.

4. `sort_values()`: This function allows you to sort the DataFrame by one or more columns. You can specify the column(s) to sort by and whether to sort in ascending or descending order. It is helpful for arranging the data in a specific order based on certain criteria.

5. `groupby()`: This function enables you to group the data based on one or more columns and perform aggregate operations on the grouped data. It is useful for performing calculations and summaries on subsets of the data.

6. `drop()` and `dropna()`: These functions are used to remove rows or columns from the DataFrame. `drop()` allows you to specify the labels of rows or columns to remove, while `dropna()` removes rows or columns that contain missing values (NaN).

7. `apply()` and `applymap()`: These functions apply a function to one or more elements in the DataFrame. `apply()` is used to apply a function along an axis (rows or columns), while `applymap()` is used to apply a function element-wise to the entire DataFrame.

##### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the given options, both Series and DataFrame in Pandas are mutable in nature, while Panel is immutable.

1. Series: A Pandas Series is a one-dimensional labeled array that can hold data of any type. It is mutable, we can change specific values, add or remove elements, or update the entire Series with new values.

2. DataFrame: A Pandas DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is also mutable we can update values in specific cells, add or remove columns or rows, or perform various operations to transform the data within the DataFrame.

3. Panel: A Pandas Panel is a three-dimensional labeled data structure that can hold data of different types. However, it is considered immutable, which means that once created, we cannot directly modify the contents of a Panel.

##### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
# Create the Series objects
name = pd.Series(['Abdul', 'Julia', 'Nazim'])
age = pd.Series([25, 30, 35])
occupation = pd.Series(['Engineer', 'Doctor', 'Teacher'])

# Create the DataFrame using the Series
data = {'Name': name, 'Age': age, 'Occupation': occupation}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Name  Age Occupation
0  Abdul   25   Engineer
1  Julia   30     Doctor
2  Nazim   35    Teacher