In [ ]:
""" Q1: Create one variable containing following type of data:
         (i) string (ii) list (iii) float (iv) tuple """

In [7]:
var_string = "My first Assignment"

var_list = [1,2,3,4,5]

var_float = 43.5

var_tuple = (2,4,6,8)

print("String Variable:", var_string)

print("List Variable:", var_list)

print("Floating Point Variable:", var_float)

print("Tuple Variable:", var_tuple)

String Variable: My first Assignment
List Variable: [1, 2, 3, 4, 5]
Floating Point Variable: 43.5
Tuple Variable: (2, 4, 6, 8)

In [ ]:
""" Q2: Given are some following variables containing data:
 (i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1. 
     What will be the data type of the above given variable. """

In [6]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [ ]:
""" Q3: Explain the use of the following operators using an example:
        (i) / (ii) % (iii) // (iv) **    """

In [5]:
a = 5; b = 8

Div = a / b
Mod = a % b
Floor = a // b
Exp = a ** b

print("Division of a & b is : ", Div)
print("Modulous of a & b is : ", Mod)
print("Floor Division of a & b is : ", Floor)
print("Exponent of a & b is : ", Exp)

Division of a & b is :  0.625
Modulous of a & b is :  5
Floor Division of a & b is :  0
Exponent of a & b is :  390625

In [ ]:
""" Q4: Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. """

In [4]:
data = [2,45,"basit",33.333,4j,False,{"name"}, range(0,10)]

for i in data:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'set'>
<class 'range'>

In [ ]:
""" Q5: Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible. """

In [ ]:
counter = 0

A = int(input("Enter 1st Number: "))
B = int(input("Enter 2nd Number: "))

while A % B == 0:
    counter += 1
    A = A / B
if counter > 0:
    print(f"A is divisible by B, {counter} times")
else:
    print(f"A is not divisible by B")

In [ ]:
""" Q6: Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.  """

SOLUTION # 1:

In [1]:
list_data = range(0,26)

for i in list_data:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

SOLUTION # 2:

In [2]:
list_data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in list_data:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
""" Q7: What do you understand about mutable and immutable data types? Give examples for both showing
this property. """

Mutable data types: A mutable data type is a type whose values can be changed after they are created.
Immutable data types: An immutable data type is a type whose values cannot be changed after they are created.

In [17]:
# Example of Mutable data types

values = [2,5,7,9,11.5,True,"basit"]

print("Original Data: ", values)

values[5] = False
values[4] = 55
values[6] = "pwskills"
print("Mutable data: ", values)

Original Data:  [2, 5, 7, 9, 11.5, True, 'basit']
Mutable data:  [2, 5, 7, 9, 55, False, 'pwskills']

In [23]:
# Example of Immutable data types

tuple_ = (2,5,7,9,11.5,True,"basit")

print("Original Data: ", tuple_)

tuple_[5] = False
tuple_[4] = 55
tuple_[6] = "pwskills"
print("Immutable data: ", tuple_)

Original Data:  (2, 5, 7, 9, 11.5, True, 'basit')

TypeError: 'tuple' object does not support item assignment