`Q1. What is a database? Differentiate between SQL and NoSQL databases.`

A database is a structured collection of data organized and stored in a computer system. It provides a mechanism for storing, managing, and retrieving data efficiently.

Differentiating between SQL and NoSQL databases:

SQL Databases (Relational Databases):
- Structured Query Language (SQL) databases are based on a relational model.
- Data is organized into tables with predefined schemas, where each table consists of rows (records) and columns (fields).
- Tables define relationships through keys (primary and foreign keys).
- Examples of SQL databases include MySQL, Oracle Database, PostgreSQL, and Microsoft SQL Server.

NoSQL Databases (Non-relational Databases):
- NoSQL databases are designed for flexible and scalable data storage, especially for large-scale distributed systems.
- They are not based on a fixed schema or rigid structure.
- Data is stored in various formats, such as key-value pairs, documents, columnar, or graph-based models.
- NoSQL databases offer horizontal scalability, high availability, and fault tolerance.
- They are often used for handling large volumes of unstructured or semi-structured data.
- Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, and Neo4j.

`Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.`

DDL stands for Data Definition Language. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and constraints.

1. CREATE:
The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas. It specifies the name of the object and its structure or definition.

Example:
```sql
CREATE TABLE employees (id INT PRIMARY KEY, name VARCHAR(50), age INT);
```

2. DROP:
The DROP statement is used to delete or remove existing database objects, such as tables, views, or indexes.

Example:
```sql
DROP TABLE employees;
```

3. ALTER:
The ALTER statement is used to modify the structure or definition of existing database objects. It allows adding, modifying, or dropping columns, constraints, or indexes.

Example:
```sql
ALTER TABLE employees ADD COLUMN salary DECIMAL(10,2);
```

4. TRUNCATE:
The TRUNCATE statement is used to remove all data from a table, while keeping the table structure intact. It effectively deletes all rows in the table.

Example:
```sql
TRUNCATE TABLE employees;
```

`Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.`

DML stands for Data Manipulation Language. It is used to manipulate or modify data within a database. DML statements are used to insert, update, and delete data from database tables.

1. INSERT:
The INSERT statement is used to insert new records or rows into a table. It specifies the table name and the values to be inserted into the corresponding columns.

Example:
```sql
INSERT INTO employees (id, name, age) VALUES (1, 'John Doe', 30);
```

2. UPDATE:
The UPDATE statement is used to modify existing records in a table. It allows you to update specific columns or values in one or multiple rows.

Example:
```sql
UPDATE employees SET age = 31 WHERE id = 1;
```

3. DELETE:
The DELETE statement is used to remove one or multiple records from a table based on specified conditions.

Example:
```sql
DELETE FROM employees WHERE id = 1;
```

`Q4. What is DQL? Explain SELECT with an example.`

DQL stands for Data Query Language. It is used to retrieve and query data from a database. DQL statements are primarily focused on retrieving data and do not modify the structure or content of the database.

The most commonly used DQL statement is SELECT.

<b>SELECT:</b>
The SELECT statement is used to retrieve data from one or more tables in a database. It allows us to specify the columns to be included in the result set, the table(s) from which to retrieve data, and optional filtering and sorting criteria.

Example:
```sql
SELECT * FROM employees WHERE age > 30;
```

`Q5. Explain Primary Key and Foreign Key.`

`Primary Key:`
A primary key is a column or a set of columns in a database table that uniquely identifies each record in the table. It ensures the uniqueness and integrity of the data within the table.

Primary keys are used to enforce entity integrity and provide a means to uniquely identify records in a table. They are often implemented using an automatically incrementing integer (e.g., ID column) or a combination of columns that uniquely identify a record.

Foreign Key:
A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables. It references the primary key of another table, creating a connection between the two tables based on the values of the foreign key column(s). A foreign key represents a "child" relationship to the primary key of another table, known as the "parent" table.

The foreign key enforces referential integrity and maintains the relationship between related tables. It ensures that the values in the foreign key column(s) in the child table correspond to valid values present in the referenced primary key column(s) of the parent table.

`Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.`

To connect MySQL to Python, we can use the `mysql-connector-python` library, which provides a Python interface for interacting with MySQL databases. Here's an example code snippet to establish a connection and execute a query:

```python
import mysql.connector

# Establish connection
connection = mysql.connector.connect(
    host="host name",
    user="username",
    password="password",
    database="database"
)

# Create cursor
cursor = connection.cursor()

# Execute query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetch and print results
results = cursor.fetchall()
for a in results:
    print(a)

# Close cursor and connection
cursor.close()
connection.close()
```

Explanation of the cursor() method:
The `cursor()` method is used to create a cursor object, which allows us to execute SQL statements and fetch results from the database.

Explanation of the execute() method:
The `execute()` method is used to execute SQL statements or queries through the cursor object. It takes the SQL query as a parameter and performs the specified action on the database. The `execute()` method can be used for various SQL operations like SELECT, INSERT, UPDATE, DELETE, etc.

`Q7. Give the order of execution of SQL clauses in an SQL query.`

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: The FROM clause specifies the table(s) from which data will be retrieved.

2. WHERE: The WHERE clause filters the data based on specified conditions.

3. GROUP BY: The GROUP BY clause is used to group rows based on specific columns.

4. HAVING: The HAVING clause filters the grouped data based on specified conditions.

5. SELECT: The SELECT clause determines the columns to be included in the result set.

6. DISTINCT: The DISTINCT keyword eliminates duplicate rows from the result set.

7. ORDER BY: The ORDER BY clause sorts the result set based on specified columns and sort orders.

8. LIMIT/OFFSET: The LIMIT clause restricts the number of rows returned in the result set, while the OFFSET clause determines the starting point of the returned rows.